.main-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 18px;
}
.container-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
}
