.main-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 18px;
}
.container-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 1px 3px 0px #0000000d;
}

/* Header */
.header-box {
  gap: 6px;
}
.greeting-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  word-spacing: -4%;
  color: #222222;
}

.greeting-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  word-spacing: -2%;
  color: #818898;
}
