/* Header */
.header-box {
  gap: 6px;
}

.greeting-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  word-spacing: -4%;
  color: #222222;
}

.greeting-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  word-spacing: -2%;
  color: #818898;
}

/* Dashboard cards row */
.dashboard-cards {
  display: flex;
  gap: 16px;
  height: 180px;
}

/* Single card */
.dashboard-card {
  width: 100%;
  gap: 18px;
  padding: 24px 18px;
}

/* Card title */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  word-spacing: -2%;
  color: #222222;
}

/* Card middle row */
.card-body {
  display: flex;
  align-items: center;
  gap: 8.5px;
}

/* Icon box */
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 8px;
  padding: 4px;
}

/* Value */
.card-value {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: #222222;
}

/* Date */
.card-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-spacing: -2%;
  color: #222222;
}

/* Bottom empty box */
.empty-box {
  min-height: 320px;
}
.nivg-order {
  display: flex;
  height: 170px;
  border-radius: 12px;
  border-width: 0.8px 4px 0.8px 0.8px;
  border-style: solid;
  border-color: #fb923c;
  padding: 25px 25px 25px 28px;
  gap: 16px;
  border-width: 0.8px, 4px, 0.8px, 0.8px;
  box-shadow: 0px 1px 3px 0px #0000000d;
}
