/* Dashboard cards row */
.dashboard-cards {
  display: flex;
  gap: 16px;
  height: 180px;
}

/* Single card */
.dashboard-card {
  width: 100%;
  gap: 18px;
  padding: 24px 18px;
}

/* Card title */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  word-spacing: -2%;
  color: #222222;
}

/* Card middle row */
.card-body {
  display: flex;
  align-items: center;
  gap: 8.5px;
}

/* Icon box */
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 8px;
  padding: 4px;
}

/* Value */
.card-value {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: #222222;
}

/* Date */
.card-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-spacing: -2%;
  color: #222222;
}

/* Bottom empty box */
.empty-box {
  min-height: 320px;
}
.nivg-order {
  display: flex;
  height: 170px;
  border-radius: 12px;
  border-width: 0.8px 4px 0.8px 0.8px;
  border-style: solid;
  border-color: #fb923c;
  padding: 25px 25px 25px 28px;
  gap: 16px;
  border-width: 0.8px, 4px, 0.8px, 0.8px;
  box-shadow: 0px 1px 3px 0px #0000000d;
}
.nivg-order-header {
  display: flex;
  justify-content: space-between;
}

.nivg-order-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  align-items: center;
  color: #111827;
}

.nivg-order-badge {
  border-radius: 9999px;
  padding: 4px 12px;
  background-color: #ffedd5;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  align-items: center;
  color: #9a3412;
}

.nivg-order-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nivg-order-left {
  display: flex;
  gap: 12px;
}

.nivg-order-iconBox {
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 16px;
  background-color: #ffedd5;
  justify-content: center;
  align-items: center;
  color: #ea580c;
}

.nivg-order-texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nivg-order-mainText {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #111827;
}

.nivg-order-subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4b5563;
}

.nivg-order-metaText {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #6b7280;
}

.nivg-order-btn {
  width: 144px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #11d057;
  color: #fff;
  border: 1px solid var(--Main, #11d057);
}

/* layout */
.today-layout {
  display: flex;
  gap: 24px;
}

/* cards */
.today-card {
  width: 50%;
  height: 376px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* header */
.today-card-header {
  display: flex;
  justify-content: space-between;
}

.today-card-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #111827;
}

.today-card-date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6b7280;
}

/* list */
.today-card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 248px;
}

/* item */
.today-item {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 12px;
  border-radius: 16px;
  background-color: #f9fafb;
}

.today-item-right {
  display: flex;
  width: 70%;
}

.today-item-indicator {
  width: 8px;
  border-radius: 9999px;
}

.today-item-indicator.is-confirmed {
  background-color: #11d057;
}

.today-item-indicator.is-pending {
  background-color: #fb923c;
}

.today-item-info {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

/* status pill */
.today-item-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 8px 20px;
}

.today-item-status.is-confirmed {
  background-color: #dcfce7;
  color: #166534;
}

.today-item-status.is-pending {
  background-color: #ffedd5;
  color: #9a3412;
}

.today-item-status span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

/* footer */
.today-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-card-link {
  border: 0;
  background: transparent;
  color: #2e90fa;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
