body {
  font-family: 'Heebo', sans-serif;
}
:root {
  --bs-body-font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  /* max-width: 1280px; */
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
