html,
body {
  height: 100%;
  font-family: 'Heebo', sans-serif;
}
:root {
  --bs-body-font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  /* max-width: 1280px; */

  /* width: 100%; */
  min-height: 100vh;

  background-color: #f7f9fb;
  padding: 16px;
  border-radius: 24px;
  /* margin: 16px; */
}
/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width to make it thin */
  display: none;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
}

/* Optional: Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
}
