html,
body {
  height: 100%;
  font-family: 'Heebo', sans-serif;
}
:root {
  --bs-body-font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  /* max-width: 1280px; */

  /* width: 100%; */
  min-height: 100vh;

  background-color: #f7f9fb;
  padding: 16px;
  border-radius: 24px;
  /* margin: 16px; */
}
