/* ---------------------------
   Appointments Card
--------------------------- */
.appt-card {
  height: 428px;
  gap: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.appt-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appt-card-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #111827;
}

.appt-card-btn-outline {
  border-radius: 12px;
  padding: 8px 12px;
  border: 1px solid #11d057;
  color: #11d057;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

/* Table header */
.appt-table-header {
  height: 44px;
  padding: 0 24px;
  display: grid;
  align-items: center;
  grid-template-columns: 2.2fr 1.6fr 1.8fr 1.4fr 1fr 1.4fr;
  border-bottom: 1px solid #e5e7eb;
  color: #4b5563;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* Rows wrapper */
.appt-table-body {
  height: 274px;
  overflow-y: scroll;
}

/* Row */
.appt-row {
  padding-right: 24px;
  height: 68px;
  display: grid;
  align-items: center;
  grid-template-columns: 2.2fr 1.6fr 1.8fr 1.4fr 1fr 1.4fr;
  border-bottom: 1px solid #f3f4f6;
}

/* Patient cell */
.appt-patient {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 90%;
}

.appt-patient-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #4b5563;
  font-size: 12px;
  flex-shrink: 0;
}

.appt-patient-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.appt-patient-name {
  font-weight: 600;
  font-size: 15px;
  color: #111827;
  line-height: 20px;
}

.appt-patient-phone {
  font-weight: 400;
  font-size: 12px;
  color: #6b7280;
  line-height: 16px;
}

/* Regular cells */
.appt-cell {
  color: #111827;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 90%;
}

/* Status badge */
.appt-badge {
  padding: 8px 14px;
  border-radius: 9999px;
  background: var(--bg);
  color: var(--color);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* Actions */
.appt-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.appt-link {
  border: 0;
  background: transparent;
  color: #2e90fa;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
}

.pill-button {
  border: 0px;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;
  min-width: 74px;
}
